<div class="row align-items-center">
  <div class="col-auto">
    <span> Filter: <i class="fa fa-filter" aria-hidden="true"></i></span>
  </div>
  <div class="col-4">
    <div class="select">
      <select name="slct" id="slct" [formControl]="filterInput" (change)="changeFilterType($event)">
        <option selected disabled>Choose an option</option>
        <option value="1">Download</option>
        <option value="2">Upload</option>
        <option value="3">Price</option>
      </select>
    </div>
  </div>
</div>
