<div class="mb-calc mb-2 d-none d-md-flex d-lg-flex d-xl-flex d-xxl-flex">
  <span> {{headerName}} </span>
  <div>
    <span> {{ unicode }} </span>
    <div> {{mbDetails}} </div>
  </div>
</div>
<div class="mb-2 d-flex flex-column d-md-none d-lg-none d-xl-none d-xxl-none">
  <div class="d-flex flex-row">
    <span>&#8595;</span>
    <span>12</span>
  </div>
  <span>Mbit/s</span>
</div>
