.mb-calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;

  & > span {
    color: #040404;
  }

  & div {
    display: flex;
    align-items: center;

    & :nth-child(1) {
      border: 1px solid #04040481;
      padding: 1px 8px;
      width: 60px;
      text-align: center;
    }

    & :nth-child(2) {
      border: 1px solid #040404;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      padding: 1px 8px;
      width: 95px;
    }
  }
}
