<div class="col-12" *ngFor="let record of recordData; let rowIndex = index">
  <div class="shadow mb-5 bg-body rounded parent-height">
    <div class="row h-100">
      <div class="col-auto">
        <div class="content-index">{{ record.rank }}</div>
      </div>
      <div class="col">
        <div class="row py-3">
          <div class="col-3 col-md-4 col-lg-3 col-xxl-3">
            <div class="t-name">
              {{ record.product.content.text }}
            </div>
          </div>
          <div class="col-4 col-lg-3 col-xxl-3">
            <div class="d-flex flex-column">
              <app-mb-calc [headerName]="'Download'" [unicode]="'&#8595;'"
                [mbDetails]="record.contractTerm.downloadSpeed.content.text.split('.')[0]">
              </app-mb-calc>
              <app-mb-calc [headerName]="'Upload'" [unicode]="'&#8593;'"
                [mbDetails]="record.contractTerm.uploadSpeed.content.text.split('.')[0]">
              </app-mb-calc>
            </div>
          </div>
          <div class="col-4 col-lg-3 col-xxl-3 d-lg-flex d-xl-flex d-xxl-flex d-none">
            <app-tariff-benefits [tariffBenefits]="record.remarks"></app-tariff-benefits>
          </div>
          <div class="col-4 col-lg-3 col-xxl-3">
            <app-amount-pan [mobileUrl]="record?.signup?.desktop?.url || ''"
              [desktopUrl]="record?.signup?.responsive?.url || ''" [costPrice]="record.cost.effectiveCost.content.text">
            </app-amount-pan>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
