<div class="container container-color p-3 p-md-5 p-lg-5 p-xl-5 p-xxl-5">
  <div class="row">
    <div class="col-12">
      <app-filter (filterType)="takenFilterType($event)"></app-filter>
      <div class="row mt-5">
        <app-content-box [recordData]="takeAllRecords"></app-content-box>
      </div>
    </div>
  </div>
</div>
