/* You can add global styles to this file, and also import other style files */
html,
body {
  min-height: 100%;
  height: 100%;
}
body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .verivox-btn {
    min-width: 10px;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .verivox-btn {
    min-width: 150px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .verivox-btn {
    min-width: 150px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .verivox-btn {
    min-width: 150px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .verivox-btn {
    min-width: 150px;
  }
}
