<div class="row h-100">
  <div class="col-12">
    <div class="flex-column align-items-center d-md-flex d-lg-flex d-xl-flex d-xxl-flex d-none">
      <p><b>{{ costPrice }}</b></p>
      <a [href]="desktopUrl">
        <button class="btn btn-secondary verivox-btn">
          To Tariff ></button>
      </a>
    </div>
    <div class="d-flex flex-row d-md-none d-lg-none d-xl-none d-xxl-none h-100">
      <p><b>{{ costPrice }}</b></p>
      <a [href]="mobileUrl">
        <button class="btn btn-secondary h-100 verivox-btn">></button>
      </a>
    </div>

  </div>
</div>